.imgContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin:20px;
    
}
/* .imgContainer{
    width:90vw;
    margin:0 auto;
    max-width: 1170px;
    grid-template-columns: repeat(auto-fit,minmax(270,1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
} */
 .images>img{
   margin: 20px;
    height:400px;
    width:400px;
    box-shadow: 0px 0px 3px 3px lightgray;
    gap:20px;

}
.hotelImg{
    display: block;
    object-fit: cover;
    margin: 20px;
    height:400px;
    width:400px;
    box-shadow: 0px 0px 3px 3px lightgray; 
}
.images{
    position: relative;
    overflow: hidden;
}
.images:hover .room{
    visibility: visible;
}
.room{
    position: absolute;
    top:20px;
    left:20px;
    font-size: 1.5rem;
    font-weight: bold;
    color:red;
    background-color: #fff;
    box-shadow: 0px 0px 3px 3px lightgray;
    visibility: hidden;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color:red;
    margin-top: 20px;
    background-color: aqua;
}
.heading>.h1{
    font-size: 2rem;
    font-weight: bold;
    color:black;
}
.heading>.h2{
    color:gray;
    font-size: 1.5rem;
}
.Container{
    width:100%;
    margin:0;
}
.Container>img{
    width:100%;
    height:550px;
}
.hotelContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}
.slider{
    /* position:sticky; */
    position: fixed;
    top:0;
    left:0px;
    width:600px;
    height:600px;
    background-color:#fff;
    z-index: 999;
    display: flex;
    align-items: center;
    /* margin: 2rem 2rem; */

}
.sliderWrapper{
    width:98%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.sliderImg{
   width:100%;
   height:100%; 
   margin:20px 0px;
}
.close{
    position:absolute;
    top:20px;
    right:20px;
    font-size: 30px;
    color:lightgray;
    cursor: pointer;
}
.arrow{
    margin:20px;
    font-size: 50px;
    color:lightgray;
    cursor: pointer;
}
/* @media screen and (min-width:780px){
    .imgContainer{
        display: flex;
        flex-wrap: wrap;
    }  
} */